* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

    body{
      overflow-x: hidden;
    }

    header{
      background: #fff;
      position: relative;
      top: 1;
      z-index: 0;
      width: 100%;
      // background: red;
      transition: 200ms;
      box-shadow: 3px 3px 5px #ddd;

      .header-wrapper{
        height: 100%;
        width: 90%;
        // background: green;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
          max-width:250px;
          height: auto;

          img{
            width: 100%;
          }
        }
        .menu-toggler{
          position: relative;
          z-index: 2;
        }
      }
      
      .menu{
        position: absolute;
        top: 0;
        right: -50vw;
        z-index: 1;
        width: 50vw;
        height: 100vh;
        background: #f9f9f9;
        transition: transform 200ms ease-in-out;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .nav-items{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      
          .nav-item{
            margin: 25px 0;
            color: black;
            text-transform: uppercase;
            font-size: 1.3em;
          }

          .hvr-glow {
            display: inline-block;
            vertical-align: middle;
            transform: perspective(1px) translateZ(0);
            text-shadow: 0 0 1px rgba(0, 0, 0, 0);
            transition-duration: 0.3s;
            transition-property: text-shadow;
          }
          .hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          }
        }
        .social-media{
          display: flex;

          .icon{
            padding: 20px;
            margin: 0 10px;
            transition: 300ms
          }

          .icon:hover{
            background: red;
            border-radius: 50%;

            i{
             color: white;
            }
          }
        }
      
      }

      .menu-active{
        transform: translate(-50vw);
      }
    }

    .hero{
      canvas{
        position: absolute;
        z-index: -10;
        box-sizing: border-box;
        padding: 0;
        background: white;
      }
    }

   